/* fuente */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
   
}

.logo{
    width:200px;
}

/* menu */
#menu{
    background-color: li !important;
}

#menu a,button{
    font-weight: bold;
    font-size: 16px;
}

/* noticias  */
#noticias{
    background-color:#000;
}

#noticias .titulo{
    width: 100%;
    color: #fff;
    text-align: center;
}

.card-title{
    text-align: center;
}

.buy{
    margin-left: 35%;
}

/* servicios */
.services{
    width:120px;
    height: 120px;

}

/* footer */

#page-footer{
    background: black;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#page-footer .ftcontainer{
    padding: 40px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
    background-color: #000;
    color: #fff;

}

#page-footer a{
    text-decoration: none;
    
}

.footer__cta-ftcontainer{
    max-width: 1200px;
    
}
div .card {
    justify-content: center;
}

/* Miguel's code */

.footer__title{
    text-align: center;
}

.footer__contact{
    padding: 20px;
}

.footer__social-media{
    text-decoration: none;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
}

.footer__social-media li:first-child{
    margin-left:0px;
}

.footer__social-media li{
    margin-left: 25px;
}
